@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.primary_bg {
    background-color: #1230ae;
}
.primary_text {
    color: #1230ae;
}
.primary_bg {
    border-color: #1230ae;
}
